<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RecordMapper">

    <resultMap type="Record" id="RecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectRecordVo">
        select record_id, create_time, is_deleted, user_id from record
    </sql>

    <select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        <where>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectRecordByRecordId" parameterType="Long" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertRecord" parameterType="Record">
        insert into record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>
    <insert id="insertRecordReturnId" useGeneratedKeys="true" keyProperty="recordId">
        insert into record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateRecord" parameterType="Record">
        update record
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteRecordByRecordId" parameterType="Long">
        delete from record where record_id = #{recordId}
    </delete>

    <delete id="deleteRecordByRecordIds" parameterType="String">
        delete from record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>
